* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Almarai", sans-serif !important;
}

img {
  width: 100%;
}

hr {
  display: none;
}

.navbar.scrolled-nav {
  padding: 0;
  transition: all 0.5s ease;
}
.navbar.scrolled-nav .navbar-brand {
  font-size: 25px;
}
.navbar.scrolled-nav .nav-link {
  font-size: 16px;
}
.navbar.scrolled-nav .login i {
  font-size: 24px;
}
.navbar.scrolled-nav .login-container {
  width: 225px;
  height: 65px;
  top: 45px;
  right: -105px;
}
.navbar.scrolled-nav input {
  height: 30px;
}
.navbar.scrolled-nav .search-icon i {
  font-size: 24px;
}

.section-title {
  color: #000;
  line-height: 50px;
  position: relative;
  margin-right: 30px;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  right: -30px;
  background-color: #b80000;
}

.navbar-brand {
  margin-left: 50px !important;
}

.article-category {
  padding: 5px 10px;
  background-color: #b80000;
  color: #fff;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 16px;
}
.article-title {
  font-size: 18px;
  display: inline;
  color: #000;
}
.article-link {
  text-decoration: none;
  color: #000;
}
.article-link:hover .article-title {
  text-decoration: underline;
}

header .navbar {
  padding: 10px;
  border-bottom: 1px solid #b1aeae;
  background-color: #fff;
  transition: all 0.5s ease;
}
header .navbar .navbar-toggler-icon {
  font-size: 20px;
  transition: all 0.5s ease;
}
header .navbar input {
  transition: all 0.5s ease;
}
header .navbar-brand {
  font-size: 30px;
  color: #b80000;
  transition: all 0.5s ease;
}
header .navbar .nav-link {
  font-size: 20px;
  color: #000;
  margin-left: 20px;
  transition: all 0.5s ease;
}
header .navbar .nav-link:hover {
  color: #b80000;
  text-decoration: underline;
}
header .navbar .login {
  position: relative;
}
header .navbar .login i {
  font-size: 30px;
  margin-left: 15px;
  color: #b1aeae;
  cursor: pointer;
  transition: all 0.5s ease;
}
header .navbar .login-container {
  position: absolute;
  width: 250px;
  height: 80px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #b1aeae;
  text-align: center;
  border-radius: 10px;
  top: 50px;
  right: -115px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
header .navbar .login-container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg) translateX(50%);
  top: -18px;
  right: 50%;
  border-top: 1px solid #b1aeae;
  border-left: 1px solid #b1aeae;
}
header .navbar .login-container .button {
  background-color: #b80000;
  color: #fff;
  border: 1px solid #b80000;
  border-radius: 5px;
  padding: 3px 30px;
  transition: all 0.5s ease;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
}
header .navbar .login-container .button:hover {
  background-color: #fff;
  color: #b80000;
}
header .navbar .login:hover .login-container {
  visibility: visible;
  opacity: 1;
}
header .navbar .login:hover .login-container .button {
  visibility: visible;
  opacity: 1;
}
header .navbar .login-button .button {
  background-color: #b80000;
  color: #fff;
  border: 1px solid #b80000;
  border-radius: 5px;
  padding: 3px 30px;
  transition: all 0.5s ease;
  text-decoration: none;
  display: none;
  font-size: 16px;
  width: 50%;
  margin: 15px auto;
  text-align: center;
}
header .navbar .login-button .button:hover {
  background-color: #fff;
  color: #b80000;
}
header .navbar form .search-icon {
  padding: 2px;
}
header .navbar form .search-icon i {
  font-size: 30px;
  color: #b80000;
  transition: all 0.5s ease;
}
header .header-news {
  margin-top: 50px;
}
header .header-news .carousel-indicators {
  left: -510px;
}
header .header-news .carousel-indicators button {
  text-indent: 0;
  width: 20px;
  height: 20px;
}
header .header-news .carousel-news {
  margin-top: 50px;
  position: relative;
}
header .header-news .carousel-news::after {
  content: "";
  width: 20px;
  height: 200px;
  background-color: #b80000;
  position: absolute;
  top: 70px;
  left: -10px;
}
header .header-news .carousel-text {
  padding: 20px 10px 70px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 750px;
}
header .header-news .carousel-text h3 {
  font-size: 22px;
  position: relative;
}
header .header-news .carousel-text h3::after {
  content: "";
  position: absolute;
  height: 85px;
  width: 5px;
  background-color: #b80000;
  top: -10px;
  left: 230px;
}
header .header-news .carousel-item img {
  max-height: 490px;
}
header .header-news .carousel-item:hover .carousel-text {
  text-decoration: underline;
}
header .header-news .header-articles {
  margin-top: 50px;
}
header .header-news .header-articles .row {
  margin-top: 38px;
}
header .header-news .header-articles .row img {
  border-radius: 10px;
}

section.news {
  padding: 70px;
}
section.news .article-link img {
  height: 170px;
  border-radius: 5px;
}
section.news .article-link .article-text {
  text-align: justify;
}
section.news .article-link .article-text h5 {
  font-size: 18px;
}
section.news .button {
  background-color: #b80000;
  color: #fff;
  border: 1px solid #b80000;
  border-radius: 5px;
  padding: 3px 30px;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 20px;
}
section.news .button:hover {
  background-color: #fff;
  color: #b80000;
}
section.most-read {
  padding: 70px;
  background-color: #f0f0f0;
}
section.most-read .card-news {
  padding: 50px;
  background-color: #fff;
  margin: 30px;
}
section.most-read .card-news a {
  color: #000;
  text-decoration: none;
}
section.most-read .card-news a img {
  border-radius: 10px;
}
section.most-read .card-news:hover h4 {
  text-decoration: underline;
}
section.most-read .card-text h4 {
  font-size: 30px;
  font-weight: bold;
}
section.most-read .card-text p {
  font-size: 18px;
  margin: 15px auto 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
section.most-read .card-text time {
  color: #b1aeae;
  font-size: 16px;
}
section.most-read .card-img {
  position: relative;
  margin-bottom: 25px;
}
section.most-read .card-img::after {
  content: "";
  position: absolute;
  background-color: #b80000;
  height: 30px;
  width: 250px;
  bottom: -14px;
  right: 50px;
}
section.opinions {
  padding: 70px;
}
section.opinions a {
  text-decoration: none;
}
section.opinions .opinions-card {
  background-color: rgba(184, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 25px;
  padding: 25px 15px;
  transition: all 0.5s ease;
}
section.opinions .opinions-card h5 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #000;
}
section.opinions .opinions-card:hover {
  background-color: rgba(184, 0, 0, 0.5);
}
section.opinions .opinions-card:hover h5 {
  text-decoration: underline;
}
section.opinions .opinions-profile {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
section.opinions .opinions-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
section.opinions .opinions-profile span {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #b80000;
}
section.videos {
  padding: 70px;
  background-color: #151515;
}
section.videos img {
  border-radius: 10px;
}
section.videos h2 {
  color: #fff;
  line-height: 50px;
  position: relative;
  margin-right: 30px;
}
section.videos h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  right: -30px;
  background-color: #b80000;
}
section.videos .swiper {
  width: 100%;
  height: 100%;
  padding: 20px 0 50px;
}
section.videos .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.videos .swiper-pagination {
  bottom: -5px;
}
section.videos .swiper-pagination-bullet {
  background-color: #b1aeae;
  width: 20px;
  height: 20px;
  margin: 10px;
}
section.videos .swiper-pagination-bullet-active {
  background-color: #b80000;
}
section.videos .swiper .slide-img {
  position: relative;
}
section.videos .swiper .slide-img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
section.videos .swiper .slide-img i {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 60px;
  color: #b80000;
  opacity: 0;
  transition: all 0.5s ease;
}
section.videos .swiper .slide-img:hover i {
  opacity: 1;
}
section.videos .swiper .slide-text {
  margin-top: 30px;
  text-align: center;
}
section.videos .swiper .slide-text .article-title {
  color: #fff;
}
section.latest-news {
  padding: 70px 70px 50px;
}
section.latest-news img {
  border-radius: 10px;
}
section.latest-news .section-title {
  margin-bottom: 25px;
}
section.latest-news .card-text .article-title {
  font-weight: bold;
  margin-bottom: 15px;
}
section.latest-news .card-text p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
section.latest-news .button {
  background-color: #b80000;
  color: #fff;
  border: 1px solid #b80000;
  border-radius: 5px;
  padding: 3px 30px;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 20px;
}
section.latest-news .button:hover {
  background-color: #fff;
  color: #b80000;
}

footer .footer-title {
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
footer .footer-title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50px;
  background-color: #b80000;
  right: 0;
  bottom: -15px;
  border-radius: 3px;
}
footer .link-unstyled {
  text-decoration: none;
  color: #000;
}
footer .link-unstyled:hover {
  text-decoration: underline;
}
footer .social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  text-align: center;
}
footer .social-media-icon {
  display: inline;
  margin: 10px;
}
footer .social-media-icon a {
  text-decoration: none;
}
footer .social-media-icon img {
  width: 40px;
}
footer .footer-brand {
  color: #b80000;
  font-size: 30px;
  margin: auto;
  text-decoration: none;
  transition: all 0.5s ease;
}
footer .footer-brand:hover {
  color: #000;
}

@media (max-width: 1199px) {
  header .header-news .carousel-indicators {
    left: -415px;
  }
  header .header-news .carousel-text h3 {
    font-size: 18px;
  }
  header .header-news .carousel-text h3::after {
    left: 325px;
  }
  header .header-news .carousel-news::after {
    width: 15px;
    height: 150px;
    top: 45px;
    left: -6px;
  }
  header .header-articles .article-category {
    font-size: 12px;
  }
  header .header-articles .article-title {
    font-size: 13px;
  }
}
@media (max-width: 1023px) {
  section.news .article-link .article-text {
    text-align: justify;
  }
  section.news .article-link .article-text h5 {
    font-size: 16px;
  }
  section.most-read .card-text h4 {
    font-size: 22px;
  }
  section.most-read .card-text p {
    font-size: 16px;
    margin: 20px auto 20px;
  }
  section.most-read .card-img::after {
    height: 20px;
    bottom: -10px;
  }
  section.opinions .opinions-card {
    padding: 15px 10px;
  }
  section.opinions .opinions-card h5 {
    font-size: 14px;
  }
  section.opinions .opinions-profile {
    margin-top: 10px;
  }
  section.opinions .opinions-profile span {
    font-size: 16px;
  }
  footer .social-media {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .navbar.scrolled-nav .navbar-toggler-icon {
    font-size: 14px;
  }
  .navbar.scrolled-nav input,
  .navbar.scrolled-nav .search-icon i {
    margin-bottom: 15px;
  }
  header .navbar .login {
    display: none;
  }
  header .navbar .login-button .button {
    display: block;
  }
  header .header-news .carousel-text h3 {
    font-size: 20px;
  }
  header .header-news .carousel-indicators {
    left: 0;
  }
  header .header-news .carousel-item h3::after {
    display: none;
  }
  header .header-news .carousel-news::after {
    top: 75px;
  }
  header .header-articles .article-category {
    font-size: 16px;
  }
  header .header-articles .article-title {
    font-size: 18px;
  }
  section.news {
    padding: 25px;
  }
  section.most-read {
    padding: 25px;
  }
  section.most-read .card-news {
    padding: 25px;
  }
  section.most-read .card-text h4 {
    font-size: 18px;
  }
  section.most-read .card-text p {
    font-size: 14px;
    margin: 10px auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  section.most-read .card-text time {
    font-size: 12px;
  }
  section.opinions {
    padding: 25px;
  }
  section.videos {
    padding: 25px;
  }
  section.videos .swiper .slide-img img {
    height: 150px;
  }
  section.videos .swiper .slide-text .article-title {
    font-size: 16px;
  }
  section.latest-news {
    padding: 25px;
  }
  section.latest-news .card-text .article-category {
    font-size: 12px;
  }
  section.latest-news .card-text .article-title {
    font-size: 14px;
  }
  section.latest-news .card-text p {
    font-size: 12px;
  }
  footer .line {
    display: block !important;
  }
}
@media (max-width: 767px) {
  header .header-news .carousel-indicators {
    margin-bottom: 5px;
  }
  header .header-news .carousel-news::after {
    display: none;
  }
  header .header-news .carousel-text {
    padding: 20px 10px 45px;
  }
  header .header-news .carousel-text h3 {
    font-size: 18px;
  }
  header .header-articles .article-category {
    font-size: 16px;
  }
  header .header-articles .article-title {
    font-size: 18px;
  }
  section.most-read .card-img::after {
    display: none;
  }
  section.most-read .card-img {
    margin-bottom: 0;
  }
  section.most-read .card-text h4 {
    margin-top: 10px;
  }
  section.videos .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 575px) {
  .card-text {
    margin-top: 1rem;
  }
  footer hr {
    display: block !important;
  }
}
@media (max-width: 476px) {
  header .header-news .carousel-indicators {
    margin-bottom: 5px;
  }
  header .header-news .carousel-news::after {
    display: none;
  }
  header .header-news .carousel-text {
    padding: 20px 10px 45px;
  }
  header .header-news .carousel-text h3 {
    font-size: 14px;
  }
  header .header-articles .article-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.4;
  }
  header .header-articles .article-category {
    font-size: 12px;
  }
  header .header-articles .article-title {
    font-size: 14px;
  }
  section.most-read .card-news {
    margin: 25px 0;
  }
  section.most-read .card-text h4 {
    margin-top: 10px;
    text-align: center;
  }
  footer {
    padding: 0 25px 25px;
    text-align: center;
  }
  footer .footer-title::after {
    right: 42%;
    height: 3px;
    bottom: -12px;
  }
  footer .social-media {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
