// sass --watch ./sass/sign.scss ./css/sign.css
@import "_variables.scss";
@import "_mixins.scss";
form {
	.button {
		@include button($white-color, $main-color, $main-color);
		font-size: 22px;
	}
	.form-check-label {
		cursor: pointer;
		user-select: none;
	}
}
a.ms-2 {
	color: $main-color;
}
.social-media-login {
	.login-btn {
		color: $main-color;
		font-size: 25px;
		transition: all 0.5s ease;
		&:hover {
			color: rgba($color: $main-color, $alpha: 0.5);
		}
	}
}
@media (max-width: 991px) {
	body {
		main {
			.vh-100 {
				height: 100% !important;
			}
		}
	}
}
